<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <title>Code View</title>

    <style>
        .customJumbotron {
            padding: 1%;
            height: 350px;
        }

        #videoElement {
            width: 500px;
            height: 375px;
            background-color: #666;
        }

        .customStyler_Nav {
            box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);

        }
    </style>
</head>
<nav class="navbar navbar-dark bg-dark" style="margin-bottom: 0.5%;">
    <a class="navbar-brand" href="#">
        <img src="/docs/4.5/assets/brand/bootstrap-solid.svg" width="30" height="30" class="d-inline-block align-top"
            alt="" loading="lazy">
        Code\view
    </a>
</nav>

<body style="padding:%;overflow:auto;">

    <div class="container-fluid" style="margin:auto;width:100%;">
        <div class="row">
            <div class="col-8">
                <nav class="navbar navbar-expand-lg navbar-light bg-light customStyler_Nav">
                    <a class="navbar-brand" href="#">Edit your code here</a>
                </nav>
                <div class="jumbotron customJumbotron">
                    <textarea class="form-control" style="height: 100%;" aria-label="With textarea"></textarea>
                </div>
            </div>
            <div class="col-4">
                <video autoplay="true" id="videoElement"></video>
            </div>
        </div>
        <div class="row" style="resize: vertical;overflow: hidden;">
            <div class="col">
                <nav class="navbar navbar-expand-lg navbar-light bg-light customStyler_Nav">
                    <a class="navbar-brand" href="#">Read your logs here</a>
                </nav>
                <div class="jumbotron">
                    <h1 class="display-4">Hello, world!</h1>
                    <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra
                        attention to featured content or information.</p>
                    <hr class="my-4">
                    <p>It uses utility classes for typography and spacing to space content out within the larger
                        container.</p>
                    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
                </div>
            </div>
        </div>
    </div>






    <script>
        var video = document.querySelector("#videoElement");

        if (navigator.mediaDevices.getUserMedia) {
            navigator.mediaDevices.getUserMedia({ video: true })
                .then(function (stream) {
                    video.srcObject = stream;
                })
                .catch(function (error) {
                    alert("Something went wrong!");
                });
        }
    </script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>
</body>

</html>